*{
    margin: 0px;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
#navbar{
    position: sticky;
    top:0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, rgb(8, 141, 244),rgba(71, 177, 248, 0.773),rgb(8, 141, 244));
    padding: 0 !important;
}
.navbar-brand img{
    height: 62px;
    padding-left: 50x;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: rgb(227, 227, 227) !important;
    font-weight: 500;
    font-size: 29px;
    font-family:'Times New Roman', Times, serif;
}
.dropdown-menu li a{
    font-style:inherit;
    font-weight: bold;
    color: rgb(136, 136, 136) !important;
}
button{
    font-size: 24px!important;
    font-style: italic;
    color:rgb(227, 227, 227)!important;

}
#banner{
    background-image: linear-gradient( to right, rgb(8, 141, 244),rgba(71, 177, 248, 0.773),rgb(8, 141, 244));
    color:rgb(40, 38, 38);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding:30px;
    border-radius: 0px 840px 0px 840px;

}
.firstheading{
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}

/*----------services section-----------*/

#services{
    width:auto;
    border: 2px solid rgba(137, 43, 226, 0.034);
    padding: 70px ;
    background-color: rgba(137, 43, 226, 0.61);
    margin:10px;
    border-radius: 320px;
    float: left;
}
#services1{
    width:auto;
    border: 2px solid rgba(120, 38, 196, 0.045);
    padding: 80px  ;
    background-image: linear-gradient(rgba(120, 38, 196, 0.793),rgba(120, 38, 196, 0.045));
    margin:10px;
    border-radius: 320px;
    float:left;
}
#services2{
    width:auto;
    border: 2px solid rgba(91, 30, 147, 0.218);
    padding: 70px ;
   
    background-image:radial-gradient(rgba(161, 95, 219, 0.93),rgba(61, 26, 94, 0.936));
    margin:10px;
    border-radius: 320px;
    float: left;
}